.sideSection{
    display: grid;
    grid-template-columns: 48px 1fr 30px;
    cursor: pointer;
    .yellowPoint{
        align-self: center;
        padding-top: 10px;
        display: none;
    }
}
.resultSVG{
    width: 22px;
    align-self: center;
    justify-self: center;
    fill: green;
}
.text{
    font-family: SFProDisplayMedium;
    font-size: 16px;
    align-self: center;
    justify-self: start;

    color: rgba(255, 255, 255, 0.6);
}
.sideSectionActive{
    background: rgba(216, 228, 251, 0.32);
    border-left:3px solid #002CFB;
    .yellowPoint{
        display: block;
    }

}